.dialog-container {
  margin: 16px;
}
.mat-toolbar-fixed {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1001; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-form {
  width: 100%;
}

.description-icon {
  padding-right: 12px;
}
.example-full-width {
  width: 100%;
}

.home-container {
  padding-left: 36px;
}

/* Defining the Input invisible */
.inputfile {
  width: 0px;
  height: 0px;
  opacity: 0;
  background-color: black;
  z-index: -1;
}

.mat-toolbar-row {
  padding: 0px;
}

.example-spacer {
  flex: 1 1 auto;
}
