<app-toolbar-fullscreen-dialog></app-toolbar-fullscreen-dialog>
<div *ngIf="data.businessPartner" class="dialog-container">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image">  <div mat-card-avatar class="example-header-image2" (click)="clicked()"></div>

  </div>
      <mat-card-title>{{data.businessPartner.name}}</mat-card-title>
      <mat-card-subtitle>Write Something</mat-card-subtitle>

  </mat-card-header>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>person</mat-icon>
    <input matInput [(ngModel)] = "data.businessPartner.name" placeholder="Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>email</mat-icon>
    <input matInput [(ngModel)] = "data.businessPartner.email"placeholder="Email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>smartphone</mat-icon>
    <input matInput [(ngModel)] = "data.businessPartner.telephone"placeholder="Tel.Nr">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>home</mat-icon>
    <input matInput [(ngModel)] = "data.businessPartner.address"placeholder="Straße">
  </mat-form-field>

  <div class="home-container">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)] = "data.businessPartner.zip"placeholder="PLZ">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)] = "data.businessPartner.country"placeholder="Ort">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)] = "data.businessPartner.city"placeholder="Land">
    </mat-form-field>
  </div>
  <input type="file" (change)="onFileSelected($event)">
  <button mat-button (click)="save()">Save</button>
</div>


