<!-- Toolbar Section -->
<div class="container-toolbar">
  <mat-toolbar class="mat-elevation-z2" color="primary">
    <mat-toolbar-row>

      <button mat-icon-button [mat-dialog-close]="true">
        <mat-icon>clear</mat-icon>
      </button>

      <span>This is a Title</span>
      <span class="example-spacer"></span>
      <button mat-button (click)="save()">Save</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-- Toolbar Section -->
<div *ngIf="data.businessPartner" class="dialog-container">
  <mat-card-header>
    <div matCardAvatar>
      <input type="file" name="file" id="file" class="inputfile" (change)="onFileSelected($event)" />
      <label for="file">
        <img matCardAvatar *ngIf="!fileSelected" src="{{data.businessPartner.img}}">
        <img matCardAvatar *ngIf="fileSelected" [src]="imgUrl">
      </label>
    </div>

    <mat-card-title>{{data.businessPartner.name}}</mat-card-title>
    <mat-card-subtitle>Write Something</mat-card-subtitle>
  </mat-card-header>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>person</mat-icon>
    <input matInput [(ngModel)]="data.businessPartner.name" placeholder="Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>email</mat-icon>
    <input matInput [(ngModel)]="data.businessPartner.email" placeholder="Email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>smartphone</mat-icon>
    <input matInput [(ngModel)]="data.businessPartner.telephone" placeholder="Tel.Nr">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>home</mat-icon>
    <input matInput [(ngModel)]="data.businessPartner.address" placeholder="Straße">
  </mat-form-field>

  <div class="home-container">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="data.businessPartner.zip" placeholder="PLZ">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="data.businessPartner.country" placeholder="Land">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="data.businessPartner.city" placeholder="Ort">
    </mat-form-field>
  </div>
</div>
