<app-toolbar-fullscreen-dialog></app-toolbar-fullscreen-dialog>
<div class="dialog-container">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image">  <div mat-card-avatar class="example-header-image2" (click)="clicked()"></div>

  </div>
      <mat-card-title>Lieferant A</mat-card-title>
      <mat-card-subtitle>Write Something</mat-card-subtitle>

  </mat-card-header>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>person</mat-icon>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>email</mat-icon>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>smartphone</mat-icon>
    <input matInput placeholder="Tel.Nr">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon class="description-icon" matPrefix>home</mat-icon>
    <input matInput placeholder="Straße">
  </mat-form-field>

  <div class="home-container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nr.">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="PLZ">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ort">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Land">
    </mat-form-field>
  </div>
  <input type="file" (change)="onFileSelected($event)">
</div>


