.dialog-container {
  margin: 16px;
}

.example-form {
  width: 100%;
}

.description-icon {
  padding-right: 12px;
}
.example-full-width {
  width: 100%;
}

.home-container {
  padding-left: 36px;
}

/* Defining the Input invisible */
.inputfile {
  width: 0px;
  height: 0px;
  opacity: 0;
  background-color: black;
  z-index: -1;
}



/* Positioning the Input "Button" in MatCardAvatar */

