.mat-toolbar-row {
    padding: 0px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .appointment-dialog-container {
    margin: 16px;
  }
  .example-header-image {
  
    background-size: cover;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }.example-container > * {
    width: 100%;
  }
  
  