.container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.container .sidenav{
  width: 84.44444%;
}

.header{
  height: 128px;
}

.header img{
  padding-top: 16px;
  padding-left: 16px;
}

.header h4{
  padding-left: 16px;
}

.mat-list-item span{
  padding-left: 32px;
}
