<mat-drawer-container class="container">
  <div class="container-toolbar">
    <mat-toolbar class="mat-elevation-z2" color="primary">
      <!-- Wenn geschaeftspartner-detail und fahrzeuge-detail ungleich der aktuellen Router url ist, dann sollte folgenge toolbar angezeigt werden -->
      <mat-toolbar-row
        *ngIf="getrouter().url === '/business-partner' || getrouter().url  ==='/vehicle' || getrouter().url === '/dashboard' || getrouter().url === '/qr-scanner'">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span> {{gettitle()}} </span>
      </mat-toolbar-row>
      <!-- Wenn geschaeftspartner-detail oder fahrzeuge-detail gleich der aktuellen Router url ist, dann sollte folgenge toolbar angezeigt werden -->
      <mat-toolbar-row
        *ngIf=" getrouter().url !== '/business-partner' && getrouter().url !== '/vehicle' && getrouter().url !== '/dashboard' && getrouter().url !== '/qr-scanner'">
        <button mat-icon-button (click)="goBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <span> {{gettitle()}} </span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="goBack()">
          <mat-icon class="standard_search">search</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <!-- Ab hier beginnt der Inhalt von Sidenav -->
  <mat-drawer #drawer class="sidenav">
    <header class="header">
      <img class="header_logo" src="assets/img/GoCard_logo.png" (click)="drawer.toggle()" routerLink="/dashboard">
      <h3>GoCard!</h3>
      <a>CarDealerToGo!</a>
    </header>
    <mat-divider></mat-divider>
    <mat-action-list>
      <button mat-list-item (click)="drawer.toggle()" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
      </button>
      <button mat-list-item (click)="drawer.toggle()" routerLink="/business-partner">
        <mat-icon>group</mat-icon><span>Business Partners</span>
      </button>
      <button mat-list-item (click)="drawer.toggle()" routerLink="/vehicle">
        <mat-icon>directions_car</mat-icon><span>Vehicles</span>
      </button>
      <button mat-list-item (click)="drawer.toggle()" routerLink="/qr-scanner">
        <img src="https://img.icons8.com/material-sharp/24/000000/qr-code.png">
        <span>QR Scanner</span>
      </button>
    </mat-action-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
