.fab-container {
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;


}
div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 5px;


}

button {
  margin-bottom: 17px;
}

.fab-toggler {
  float: right;
  z-index: 100;
}
#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
}
