.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 300px;
  /* normal -> height: 200px */
  /* If expanded then height: 400px */
  width: 100vw;
  scroll-padding-bottom: 0;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}


h3{
  padding-top: 16px;
  padding-left: 16px;
}


