<div class="card_container">
  <h3>Zuletzt verwendete Geschäftspartner</h3>
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10" class="example-viewport">
    <mat-card class="card" *cdkVirtualFor="let item of items" (click)="clicked()"
      [routerLink]="['/geschaeftspartner-detail']">
      <img class="profile" mat-card-image src="assets/img/PICA.jpg" alt="photo">
        <mat-card-content>
            <p>{{item}}</p>
      </mat-card-content>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
<mat-divider></mat-divider>
<div class="card_container">
  <h3>Zuletzt gescannte Fahrzeuge</h3>
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10" class="example-viewport">
      <mat-card class="card" *cdkVirtualFor="let item of items" (click)="clicked()"
      [routerLink]="['/fahrzeuge-detail']">
      <img class="profile" mat-card-image src="assets/img/PICA.jpg" alt="photo">
        <mat-card-content>
            <p>{{item}}</p>
      </mat-card-content>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
<mat-divider></mat-divider>
<div class="card_container">
  <h3>Hier gehört noch etwas rein</h3>
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10" class="example-viewport">
      <mat-card class="card" *cdkVirtualFor="let item of items" (click)="clicked()"
      [routerLink]="['/geschaeftspartner-detail']">
      <img class="profile" mat-card-image src="assets/img/PICA.jpg" alt="photo">
      <mat-card-content>
          <p>{{item}}</p>
    </mat-card-content>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
<mat-divider></mat-divider>
<div class="card_container">
  <h3>Hier gehört noch etwas rein</h3>
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10" class="example-viewport">
      <mat-card class="card" *cdkVirtualFor="let item of items" (click)="clicked()"
      [routerLink]="['/geschaeftspartner-detail']">
      <img class="profile" mat-card-image src="assets/img/PICA.jpg" alt="photo">
        <mat-card-content>
            <p>{{item}}</p>
      </mat-card-content>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
<mat-divider></mat-divider>
