.search-container {
  display: flex;
  flex-direction: column;
}

.search-container > * {
  width: 100%;
}

.search-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-avatar {
  margin-bottom: auto;
  margin-top: auto;
}