.search-field-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.search-field-container > * {
  width: 100vw;
}

.search-field {
  height: 56px;
}

.search-card {
  margin: 8px;
}

.example-viewport {
  height: calc(100vh - 170px);
  width: 100vw;
}

.mat-card-avatar {
  border-radius: 4px;
  height: 60px;
  width: 60px;
  margin-bottom: auto;
  margin-top: auto;
}


.text-inside-grid-label{
  position: absolute;
  left: 12x;
}
.text-inside-grid-value{
  position: absolute;
  left: 6px;

}
.text-inside-grid-label p {
  margin-bottom: 0;
  font-weight: bold;

 }
 .text-inside-grid-value p {
  margin-bottom: 0;
 }
