<div class="search-field">
  <form class="search-field-container">
    <mat-form-field appearance="outline" floatLabel="never" type="text">
      <mat-icon matPrefix>search</mat-icon>
      <input #searchBox matInput placeholder="Search" (input)="searchVehicle(searchBox.value)" autocomplete="off">
      <mat-icon matSuffix *ngIf="searchBox.value" (click)="searchVehicle(''); searchBox.value=''">close</mat-icon>
    </mat-form-field>
  </form>
</div>

<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <mat-card class="search-card" *cdkVirtualFor="let vehicle of vehicles$ | async"
    routerLink="/vehicle/{{vehicle.vhcID}}">
    <mat-card-header>
        <mat-card-title>{{vehicle.brand + ' ' + vehicle.model}}</mat-card-title>
      </mat-card-header>
    <mat-grid-list cols="4" [rowHeight]="fit">
      <mat-grid-tile colspan="1" rowspan="1">
        <img mat-card-avatar class="example-header-image"
          src="http://localhost:8080/vehicle/{{vehicle.vhcID}}/getAvatar">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="text-inside-grid-label">
            <p>License Plate:</p><!-- License Plate -->
          <p>Color:</p><!-- Color -->
          <p>Production Year:</p><!-- Prodcution year -->
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
          <div class="text-inside-grid-value">
            <p>{{vehicle.licensePlate}}</p>
            <p>{{vehicle.color}}</p>
            <p>{{vehicle.productionYear}}</p>
          </div>
        </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</cdk-virtual-scroll-viewport>

<mat-paginator class="sticky-paginator mat-elevation-z4" [pageSizeOptions]="[5]" [hidePageSize]="true">
</mat-paginator>

