<div *ngIf="vehicle">
  <div class="container-vehicle-detail">
    <mat-card class="vehicle-detail-card">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="http://localhost:8080/vehicle/{{vehicle.vhcID}}/getAvatar">
        <mat-card-title>{{vehicle.brand}} {{vehicle.model}}</mat-card-title>
        <mat-card-subtitle>{{vehicle.vehicleStatus}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <div><span>License Plate: {{vehicle.licensePlate}} </span></div>
          <div><span>Km Readings: {{vehicle.kmReading}}</span></div>
          <div><span>Production Year: {{vehicle.productionYear}}</span></div>
          <div><span>Engine Power: {{vehicle.enginePower}}</span></div>
          <div><span>Vehicle Status: {{vehicle.condition}}</span></div>
          <div><span>Km Readings: {{vehicle.kmReading}}</span></div>
          <div><span>Fuel Type: {{vehicle.fuelType}}</span></div>
          <div><span>Color: {{vehicle.color}}</span></div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openEditDialog()">
          <mat-icon>edit</mat-icon> EDIT
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
