<app-toolbar-fullscreen-dialog></app-toolbar-fullscreen-dialog>
<div *ngIf="data.vehicle" class="dialog-container">
  <mat-card-header>
    <div matCardAvatar >
    <input type="file" name="file" id="file" class="inputfile"
       (change)="onFileSelected($event)"  />
      <label for="file">
        <img matCardAvatar src="/assets/img/baseline_camera_alt_black_48dp.png">
      </label>
    </div>

    <mat-card-title>{{data.vehicle.brand + ' ' + data.vehicle.model}}</mat-card-title>
    <mat-card-subtitle>{{data.vehicle.condition}}</mat-card-subtitle>
  </mat-card-header>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.vehicle.kmReading" placeholder="Km Reading">
  </mat-form-field>


  <button mat-button  (click)="save()"> Save</button>
</div>