<!-- Toolbar Section -->

<mat-toolbar class="mat-toolbar-fixed mat-elevation-z2" color="primary">
  <mat-toolbar-row>

    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon>clear</mat-icon>
    </button>

    <span>Edit {{data.vehicle.brand + ' ' + data.vehicle.model}}</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="save()">Save</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Toolbar Section -->
<div *ngIf="data.vehicle" class="dialog-container">
  <mat-card-header>
    <div matCardAvatar>
      <input type="file" name="file" id="file" class="inputfile" (change)="onFileSelected($event)" />
      <label for="file">
        <img matCardAvatar *ngIf="!fileSelected" src="{{data.vehicle.img}}">
        <img matCardAvatar *ngIf="fileSelected" [src]="imgUrl">
      </label>
    </div>

    <mat-card-title>{{data.vehicle.brand + ' ' + data.vehicle.model}}</mat-card-title>
    <mat-card-subtitle>{{data.vehicle.condition}}</mat-card-subtitle>
  </mat-card-header>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.vehicle.brand" placeholder="Brand" autocomplete="off">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.vehicle.model" placeholder="Model" autocomplete="off">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.vehicle.licensePlate" placeholder="License Plate" autocomplete="off">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.vehicle.color" placeholder="Color" autocomplete="off">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.vehicle.productionYear" placeholder="Production Year" autocomplete="off">
  </mat-form-field>

  <mat-form-field type="text" class="example-full-width">
      <mat-select placeholder="Condition" [value]="data.vehicle.condition" [(ngModel)]="data.vehicle.condition">
        <mat-option value="Used">Used</mat-option>
        <mat-option value="New">New</mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Engine Power</mat-label>
    <input matInput [(ngModel)]="data.vehicle.enginePower" autocomplete="off">
  </mat-form-field>

  <mat-form-field type="text">
    <mat-select placeholder="Fuel Type" value="data.vehicle.fuelType" [(ngModel)]="data.vehicle.fuelType">
      <mat-option value="Super95">Super95</mat-option>
      <mat-option value="Diesel">Diesel</mat-option>
    </mat-select>
  </mat-form-field>

</div>