<app-toolbar-fullscreen-dialog></app-toolbar-fullscreen-dialog>
<mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<div><span>Km Readings: </span></div>
<div><span>Production Year: </span></div>
 <div><span>Engine Power: </span></div>
<div><span>Vehicle Status: </span></div>
<div><span>Km Readings: </span></div>
<div><span>Fuel Type: </span></div>
<div><span>Color: </span></div>