<div class="cdk-virtual-scroll-data-source-example">
  <h3>Last Used Vehicles</h3>
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10" class="example-viewport">
    <mat-card *cdkVirtualFor="let vehicle of vehicles$ | async ; let i = index" [ngClass]="{expanded: expanded[i]}">
      <img mat-card-image src="http://localhost:8080/vehicle/{{vehicle.vhcID}}/getAvatar" alt="photo"
        (click)="clicked()" routerLink="/vehicle/{{vehicle.vhcID}}">
      <div class="card-content">
        <p class="card-content-name"> {{vehicle.brand}} {{vehicle.model}}</p>
      </div>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
