mat-card {
  height: 150px;
  margin-left: 16px;
}
.mat-card-image {
  height: 128px;
  width: 128px;
  margin-bottom: 0;
}

.card-content {
  position: absolute;
  left: 8px;
  right: 8px;
}

.card-content .card-content-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
