<div class="appointment-container">
  <h2>Upcoming Appointments</h2>
  <mat-card class="appointment-card" *ngFor="let item of items">
    <mat-card-header>
      <mat-icon class="today" mat-card-avatar>today</mat-icon>
      <mat-card-title> Appointment 1 </mat-card-title>
      <mat-card-subtitle> Test drive </mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon> event_busy</mat-icon>
        <h4 mat-line>12.12.2019</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>schedule</mat-icon>
        <h4 mat-line>12:45</h4>
      </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>edit</mat-icon>
        EDIT
      </button>
      <button mat-button>
        <mat-icon>email</mat-icon>
        SEND
      </button>
    </mat-card-actions>
  </mat-card>
</div>
 









