<div *ngIf = "appointments" class="appointment-container">
  <h2>Upcoming Appointments</h2>
  <mat-card class="appointment-card" *ngFor="let appointment of appointments">
    <mat-card-header>
      <button class="clear" mat-icon-button (click)="openDeleteDialog(appointment)">
        <mat-icon >clear</mat-icon>
      </button>
      <mat-icon class="today" mat-card-avatar>event</mat-icon>
      <mat-card-title>{{appointment.title}} </mat-card-title>
      <mat-card-subtitle> {{appointment.action}}</mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      <mat-list-item>
        <mat-icon>event_available</mat-icon>
        <a>{{appointment.start_date}}</a>
        <mat-icon class="schedule" >schedule</mat-icon>
        <a>{{appointment.start_time}}</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon> event_busy</mat-icon>
        <a>{{appointment.end_date}}</a>
        <mat-icon class="schedule" >schedule</mat-icon>
        <a>{{appointment.end_time}}</a>
      </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <div class="action_buttons">
      <button mat-button (click)="openDialog(appointment)">
        <mat-icon>edit</mat-icon> EDIT
      </button>
      <button mat-button>
        <mat-icon>email</mat-icon> SEND
      </button>
      <button mat-button (click)="downloadIcsFile(appointment.id)">
        <mat-icon>save_alt</mat-icon> .ICS
      </button>
    </div>
    </mat-card-actions>
  </mat-card>
</div> 
 









