h2 {
  padding-left: 16px;
}

.appointment-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.mat-card-avatar {
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}

.mat-raised-button {
  text-align: inherit;
}
.container-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

.schedule{
  padding-left: 16px; 
}

mat-list-item a{
  padding-left: 10px;
}