<div class="cdk-virtual-scroll-data-source-example">
  <h3>Last Used Business Partners</h3>
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10" class="example-viewport">
    <mat-card *ngFor="let businessPartner of businessPartners$ | async; let i = index" [ngClass]="{expanded: expanded[i]}">
      <img mat-card-image src="{{businessPartner.img}}" alt="photo"
        (click)="clicked()" routerLink="/business-partner/{{businessPartner.bpID}}">
      <div class="card-content">
        <p class="card-content-name">{{businessPartner.name}}</p>
      </div>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
