.search-field-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.search-field-container > * {
  width: 100vw;
}

.search-field {
  height: 56px;
}

.search-card {
  margin: 8px;
  padding: 0;
  border-radius: 0;
}

.example-viewport {
  height: calc(100vh - 170px);
  width: 100vw;
}

.text-label {
  position: absolute;
}
.text-value {
  position: relative;
  left: 26px;
  top: 32px;
  display: block;
}
.text-label p {
  margin-bottom: 0;
  padding-left: 16px;
}
.text-value p {
  margin-bottom: 0;
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar-img {
  height: 100px;
  width: 100px;
}

mat-card-title{
  margin-bottom: 0px !important;
  margin-top: 8px;
}
