<div class="search-field">
  <form class="search-field-container">
    <mat-form-field appearance="outline" floatLabel="never" type="text">
      <mat-icon matPrefix>search</mat-icon>
      <input #searchBox matInput placeholder="Search" (input)="searchBusinessPartner(searchBox.value)"
        autocomplete="off">
      <mat-icon matSuffix *ngIf="searchBox.value" (click)="searchBusinessPartner(''); searchBox.value=''">close
      </mat-icon>
    </mat-form-field>
  </form>
</div>

<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <mat-card class="search-card" *cdkVirtualFor="let businessPartner of businessPartners$ | async"
    routerLink="/business-partner/{{businessPartner.bpID}}">
    <div fxLayout="row">
      <img class="avatar-img" src="{{businessPartner.img}}">
      <div flexLayout="column">
        <mat-card-header>
          <mat-card-title>{{businessPartner.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text-label">
            <p>{{businessPartner.country}}</p>
            <p>{{businessPartner.zip}} {{businessPartner.city}}</p>
            <p>{{businessPartner.address}}</p>
          </div>
        </mat-card-content>
      </div>
      <div class="text-value">
      </div>
    </div>
  </mat-card>
</cdk-virtual-scroll-viewport>

<mat-paginator class="sticky-paginator mat-elevation-z4" [pageSizeOptions]="[5]" [hidePageSize]="true">
</mat-paginator>
